* {
    box-sizing: border-box;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: #ff6a00;

    & div {
        display: flex;
        justify-content: space-between;
        & button{
            border-radius: 50%;
            line-height: 46px;
            width: 46px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            font-weight: bold;
            &.active{
                background-color: white;
                color: #ff6a00;
            }
        }
    }
    .mandar{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        font-weight: bold;
        margin-top: 10px;
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }

}